.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
}

.container2 {
  display: flex;
  justify-content: center;
}

/* @media (max-width: 380px) {
  .container {
    margin-top: 48px;
    height: 60vh;
    
  }
} */

/* @media (max-width: 380px) {
  .container2 {
    flex-direction: column;
  }
} */