.container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container2 {
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
}

@media (max-width: 770px) {
  .container {
    margin-top: 48px 
  }

  .container2 {
    height: 60vh;
  }
}

@media (max-width: 380px) {
  .container {
    width: 100vw;
    margin-top: 24px;
  }

  .container2 {
    height: 55vh;
  }
}
