/* <div style={{ display: "flex", , , , , }}> */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* <div style={{ height: "65vh", display: "flex", flexDirection: "column", alignItems: "center" }}> */

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
}